#userInfo {
   padding: 0 12px;
   .userInfo_edit-button {
      cursor: pointer;
   }
   #imageAndUsername {
      display: flex;
      p {
         margin: 0;
         display: flex;
         flex-direction: column;
         justify-content: center;
         .signout a {
            color: #000;
            font-size: 0.8em;
            &:visited {
               color: #000;
            }
         }
      }
      img {
         margin-right: 12px;
         border-radius: 100%;
         width: 50px;
         height: 50px;
      }
   }
   #bookedDates,
   #selectedDatesWrapper {
      margin-bottom: 24px;
      p {
         margin-bottom: 0;
         font-weight: bold;
         font-size: 0.9em;
      }
      table {
         border-collapse: collapse;
         width: 100%;
         border-top: 1px solid #efefef;
         border-bottom: 1px solid #efefef;
         margin-bottom: 8px;
         tr {
            &:nth-child(even) {
               background-color: #efefef;
            }
            td {
               padding: 8px;
               &.delete-booking {
                  color: #757575;
                  cursor: pointer;
               }
            }
         }
      }
   }
}