@import "~font-awesome/less/font-awesome";
@import '../components/Calendar/calendar.less';
@import '../components/UserInfo/user-info.less';
@import '../components/Login/login.less';
@import '../components/RegisterUser/register-user.less';
html,
body,
#app,
#main-wrapper,
#index-wrapper {
   height: 100%;
}

body {
   font-family: sans-serif;
   margin: 0;
}

#index-wrapper {
   display: flex;
   width: 80%;
   margin: 0 auto;
   padding-top: 20px;
   height: ~"calc(100% - 40px)";
}

#left-wrapper {
   flex: 0 1 70%;
   margin-right: 12px;
   overflow-y: scroll;
   padding-right: 16px;
}

#right-wrapper {
   flex: 0 0 30%;
}

#user-info-wrapper {
   flex: 1 0 30%
}

input {
   font-size: 1em;
   padding: 0.4em 0.3em;
}