@import "~font-awesome/less/font-awesome";
@import '../components/Calendar/calendar.less';
@import '../components/UserInfo/user-info.less';
@import '../components/Login/login.less';
@import '../components/RegisterUser/register-user.less';
html,
body,
#app,
#main-wrapper,
#index-wrapper {
   height: 100%;
}

body {
   font-family: sans-serif;
   margin: 0;
}

p {
   font-size: 1em;
}

a {
   color: #000;
}

#index-wrapper {
   display: flex;
   width: 80%;
   margin: 0 auto;
   padding-top: 20px;
   height: ~"calc(100% - 40px)";
}

#left-wrapper {
   flex: 0 1 70%;
   margin-right: 12px;
   overflow-y: scroll;
   padding-right: 16px;
}

#right-wrapper {
   flex: 0 0 30%;
}

#user-info-wrapper {
   flex: 1 0 30%
}

input {
   font-size: 1em;
   padding: 0.4em 0.3em;
}

button,
input[type="submit"] {
   background-color: #426FC5;
   border: none;
   color: white;
   text-transform: uppercase;
   padding: 12px 8px;
   cursor: pointer;
   outline: none;
   font-size: 0.7em;
   &.secondary {
      color: #426FC5;
      background-color: #fff;
      border: 1px solid #426FC5;
   }
}