#edit-user-dialog {
   width: 50%;
   .edit-user-dialog_content {
      display: flex;
      flex-direction: column;
      label {
         font-size: 0.8em;
         margin-bottom: 4px;
      }
      input[type=text],
      input[type=password] {
         margin-bottom: 12px;
      }
      .edit-button-result {
         display: flex;
         align-items: center;
         .request-result {
            margin-left: 12px;
         }
      }
   }
}